* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.main-image {
  background:linear-gradient(#00000060, #00000060), url(./assets/img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:40vh;
  color: white;
}

.card-title {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.close {
  border: none;
  background: transparent;
}