* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.main-image {
  background: linear-gradient(#00000060, #00000060), url(./assets/img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  color: white;
}

.card-title {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow: hidden;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.close {
  border: none;
  background: transparent;
}

.card-category {
  color: rgb(177, 177, 177);
  font-size: 13px;
  margin-bottom: 10px;
  text-decoration: underline;
  overflow: hidden;
}

.card-authors {
  color: rgb(177, 177, 177);
  margin-bottom: 5px;
  font-size: 15px;
  overflow: hidden;
}

.btn-link {
  color: gray;
  text-decoration: none;
}

.card-info {
  margin-left: 30px;
}

.card-published-date {
  font-size: 15px;
  color: rgb(0, 179, 63);
  margin-bottom: 5px;
  overflow: hidden;
}

.info {
  color: rgb(177, 177, 177);
}

.info-black {
  color: black;
}

.info-span {
  color: #0A58CA;
}

.card {
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  border-radius: 5%;
  margin-right: 20px !important;
  margin-left: 20px !important;
  -webkit-box-shadow: 10px 0px 8px -7px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 0px 8px -7px rgba(0, 0, 0, 0.4);
}

.card:hover {
  transform: scale(0.97);
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.close {
  transition: 0.2s ease-in-out;
  font-size: 28px;
  color: gray;
}

.close:hover {
  color: rgb(80, 80, 80);
}

.card-description {
  max-height: 200px;
}

.page {
  min-height: 100vh !important;
}

.modal-container {
  -webkit-box-shadow: 10px 13px 17px -7px rgba(0, 0, 0, 0.46);
  box-shadow: 10px 13px 17px -7px rgba(0, 0, 0, 0.46);
}
