* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.main-image {
  background:linear-gradient(#00000060, #00000060), url(./assets/img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:40vh;
  color: white;
}


.card-title {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  margin-top: 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.close {
  border: none;
  background: transparent;
}

.card-category {
  color: rgb(177, 177, 177);
  font-size: 13px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.card-authors {
  color: rgb(177, 177, 177);
  margin-bottom: 5px;
  font-size: 15px;
}

.btn-link {
  color: gray;
  text-decoration:none;
}

.card-info {
  margin-left: 30px;
}

.info {
  color: rgb(177, 177, 177);
}

.info-black {
  color: black;
}